# Basic
.ssh*
.local
.gemini
.gnupg
.cloudflared
.cache
.claude.json*
.claude
!.claude/CLAUDE.md
.config/github-copilot
.docker
.npm
.oh-my-zsh
.python_history
.tmp
.viminfo
.volta
.zcompdump*
.zprofile
.zsh_history
.zshenv
.bash_functions.local

# OSX
Applications
Code
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
.Trash
.CFUserTextEncoding
.DS_Store
.colima/
.config/raycast/
