[user]
    name = Sarah Sturgeon
    email = sarah@sarahsturgeon.com
    signingKey = AEAF264B98D39BC6
[core]
    editor = nvim
    excludesfile = /Users/sarah/.gitignore
[alias]
    a = add
    b = branch
    d = diff
    l = log
    m = merge
    o = checkout
    p = pull
    r = remote
    s = status
    w = whatchanged

    # Add
    aa = add --all
    ap = add --patch
    au = add --update

    # Checkout
    co = checkout
    com = checkout master

    # Commit
    ci = commit --interactive
    cm = commit --message

    # Diff
    dc = diff --cached
    ds = diff --staged
    dw = diff --word-diff

    # Fetch
    fa = fetch --all

    # Merge
    mm = merge master

    # Push
    ps = "!git push origin $(git branch-name)"
    pst = "!git push origin --tags"

    # Pull
    pl = "!git pull --rebase origin $(git branch-name)"

    # Alias management
    alias = "!git config --get-regexp '^alias\\.' | colrm 1 6 | sed 's/ / = /'"

    # List branches sorted by last modified
    bb = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # Workflow
    save = stash save
    pop = stash

    # Shell scripting aliases
    branch-name = rev-parse --abbrev-ref HEAD

[commit]
    gpgsign = true
[init]
    defaultBranch = main
[diff]
    external = difft
